@mixin centerflex(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@mixin centerContent($siteWidth){
    padding-left: calc(50% - $siteWidth/2);
    padding-right: calc(50% - $siteWidth/2);
}
